<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Built-in Functions and Sub-queries in SQL

### This Notebook is a part of my studies for IBM Certification in Data Science Professional

## What I learned:

- Aggregate, Scalar, String, Date and Time Functions
- Sub-queries and Nested Selects
- Write SQL queries that demonstrate the necessity of using sub-queries
- Compose sub-queries in the where clause
- Build Column Expressions (i.e. sub-query in place of a column)
- Write Table Expressions (i.e. sub-query in place of a table)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Built-in-functions---Aggregate,-Scalar,-String,-Date-and-Time-Functions" data-toc-modified-id="Built-in-functions---Aggregate,-Scalar,-String,-Date-and-Time-Functions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Built-in functions - Aggregate, Scalar, String, Date and Time Functions</a></span><ul class="toc-item"><li><span><a href="#Aggregate-Functions" data-toc-modified-id="Aggregate-Functions-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Aggregate Functions</a></span><ul class="toc-item"><li><span><a href="#Problem-1" data-toc-modified-id="Problem-1-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Problem 1</a></span></li><li><span><a href="#Problem-2" data-toc-modified-id="Problem-2-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Problem 2</a></span></li><li><span><a href="#Problem-3" data-toc-modified-id="Problem-3-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Problem 3</a></span></li><li><span><a href="#Problem-4" data-toc-modified-id="Problem-4-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Problem 4</a></span></li><li><span><a href="#Problem-5" data-toc-modified-id="Problem-5-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>Problem 5</a></span></li></ul></li><li><span><a href="#Scalar-and-String-Functions" data-toc-modified-id="Scalar-and-String-Functions-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Scalar and String Functions</a></span><ul class="toc-item"><li><span><a href="#Problem-1" data-toc-modified-id="Problem-1-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Problem 1</a></span></li><li><span><a href="#Problem-2" data-toc-modified-id="Problem-2-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Problem 2</a></span></li><li><span><a href="#Problem-3" data-toc-modified-id="Problem-3-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Problem 3</a></span></li><li><span><a href="#Problem-4" data-toc-modified-id="Problem-4-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Problem 4</a></span></li><li><span><a href="#Problem-5" data-toc-modified-id="Problem-5-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Problem 5</a></span></li></ul></li><li><span><a href="#Date-and-Time-Functions" data-toc-modified-id="Date-and-Time-Functions-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Date and Time Functions</a></span><ul class="toc-item"><li><span><a href="#Problem-1" data-toc-modified-id="Problem-1-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Problem 1</a></span></li><li><span><a href="#Problem-2" data-toc-modified-id="Problem-2-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Problem 2</a></span></li><li><span><a href="#Problem-3" data-toc-modified-id="Problem-3-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Problem 3</a></span></li><li><span><a href="#Problem-4" data-toc-modified-id="Problem-4-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Problem 4</a></span></li><li><span><a href="#Problem-5" data-toc-modified-id="Problem-5-1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>Problem 5</a></span></li></ul></li></ul></li><li><span><a href="#Sub-queries-and-Nested-Selects" data-toc-modified-id="Sub-queries-and-Nested-Selects-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Sub-queries and Nested Selects</a></span><ul class="toc-item"><li><span><a href="#EXAMPLES" data-toc-modified-id="EXAMPLES-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>EXAMPLES</a></span><ul class="toc-item"><li><span><a href="#Problem-1" data-toc-modified-id="Problem-1-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Problem 1</a></span></li><li><span><a href="#Problem-2" data-toc-modified-id="Problem-2-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Problem 2</a></span></li><li><span><a href="#Problem-3" data-toc-modified-id="Problem-3-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Problem 3</a></span></li><li><span><a href="#Problem-4" data-toc-modified-id="Problem-4-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Problem 4</a></span></li><li><span><a href="#Problem-5" data-toc-modified-id="Problem-5-2.1.5"><span class="toc-item-num">2.1.5&nbsp;&nbsp;</span>Problem 5</a></span></li></ul></li></ul></li></ul></div>

# Built-in functions - Aggregate, Scalar, String, Date and Time Functions

## Aggregate Functions

### Problem 1
    Enter a function that calculates the total cost of all animal rescues in the PETRESCUE table.
 
Solution:
    
 > select SUM(COST) from PETRESCUE;

### Problem 2
    Enter a function that displays the total cost of all animal rescues in the PETRESCUE table in a column called SUM_OF_COST.
 
Solution:
    
 > select SUM(COST) AS SUM_OF_COST from PETRESCUE

### Problem 3
    Enter a function that displays the maximum quantity of animals rescued.
 
Solution:
    
 > select MAX(QUANTITY) from PETRESCUE;

### Problem 4
     Enter a function that displays the average cost of animals rescued.
 
Solution:
    
 > select AVG(COST) from PETRESCUE;

### Problem 5
    Enter a function that displays the average cost of rescuing a dog.
 
Solution:
    
 > select AVG( COST / QUANTITY ) from PETRESCUE where ANIMAL = 'Dog';

## Scalar and String Functions

### Problem 1
    Enter a function that displays the rounded cost of each rescue.
 
Solution:
    
 > select ROUND(COST) from PETRESCUE;

### Problem 2
    Enter a function that displays the length of each animal name.
 
Solution:
    
 > select LENGTH(ANIMAL) from PETRESCUE;

### Problem 3
    Enter a function that displays the animal name in each rescue in uppercase.
 
Solution:
    
 > select UCASE(ANIMAL) from PETRESCUE;

### Problem 4
    Enter a function that displays the animal name in each rescue in uppercase without duplications.
 
Solution:
    
 > select DISTINCT(UCASE(ANIMAL)) from PETRESCUE;

### Problem 5
    Enter a query that displays all the columns from the PETRESCUE table, where the animal(s) rescued are cats. Use cat in lower case in the query.
 
Solution:
    
 > select * from PETRESCUE where LCASE(ANIMAL) = 'cat';

## Date and Time Functions

### Problem 1
    Enter a function that displays the day of the month when cats have been rescued.
 
Solution:
    
 > select DAY(RESCUEDATE) from PETRESCUE where ANIMAL = 'Cat';

### Problem 2
    Enter a function that displays the number of rescues on the 5th month.
 
Solution:
    
 > select SUM(QUANTITY) from PETRESCUE where MONTH(RESCUEDATE)='05';

### Problem 3
    Enter a function that displays the number of rescues on the 14th day of the month.
 
Solution:
    
 > select SUM(QUANTITY) from PETRESCUE where DAY(RESCUEDATE)='14';

### Problem 4
    Animals rescued should see the vet within three days of arrivals. Enter a function that displays the third day from each rescue.
 
Solution:
    
 > select (RESCUEDATE + 3 DAYS) from PETRESCUE;

### Problem 5
    Enter a function that displays the length of time the animals have been rescued; the difference between today’s date and the recue date.
 
Solution:
    
 > select (CURRENT DATE - RESCUEDATE) from PETRESCUE;

# Sub-queries and Nested Selects

In [ ]:
"""
SELECT column1 FROM table
WHERE column2 = (SELECT MAX(column2 FROM table))
"""

In [ ]:
'''
OBS: Cannot evaluate Aggregate Functions like AVG() in the WHERE clause -
    We have to use a sub-select expression, f.ex.:
    
    select EMP_ID, F_NAME, L_NAME, SALARY
        from employees
        where SALARY < (select AVG(SALARY) from employees).
    
'''

In [ ]:
"""
Sub-queries in a list of columns
    --> Substitute columns name with sub-query
    --> Called Column Expressions
f.e:

    select EMP_ID, SALARY, (select AVG(SALARY) from employees) AS AVG_SALARY
        from employees

"""

In [ ]:
"""
Sub-queries in a FROM clause:
    --> Substitute the TABLE name with a sub-query
    --> Called Derived Tables or Table Expressions
f.e:

    select * 
    from ( select EMP_ID, F_NAME, L_NAME, DEP_ID from employees) AS EMP4ALL

"""

## EXAMPLES

In this lab, I used an IBM Db2 Database. Db2 is a Relational Database Management System (RDBMS) from IBM, designed to store, analyze and retrieve data efficiently.

<br>
I will be working on a sample HR database. This HR database schema consists of 5 tables called EMPLOYEES, JOB_HISTORY, JOBS, DEPARTMENTS and LOCATIONS. Each table has a few rows of sample data.
<br>

The following diagram shows the tables for the HR database:  
<br>
<br>

<img src="images/HR_Database.png" alt="HR_Database" style="height: 700px; width:700px;"/>

### Problem 1
    Execute a failing query (i.e. one which gives an error) to retrieve all employees records whose salary is lower than the average salary.
 
Solution:
    
 > select * <br>
   from employees <br>
   where salary < AVG(salary);

### Problem 2
    Execute a working query using a sub-select to retrieve all employees records whose salary is lower than the average salary.
 
Solution:
    
 > select EMP_ID, F_NAME, L_NAME, SALARY  <br>
   from employees <br>
   where SALARY < (select AVG(SALARY) 
                   from employees);

### Problem 3
    Execute a failing query (i.e. one which gives an error) to retrieve all employees records with EMP_ID, SALARY and maximum salary as MAX_SALARY in every row.
 
Solution:
    
 > select EMP_ID, SALARY, MAX(SALARY) AS MAX_SALARY  <br>
   from employees; <br>

### Problem 4
    Execute a Column Expression that retrieves all employees records with EMP_ID, SALARY and maximum salary as MAX_SALARY in every row.
 
Solution:
    
 > select select EMP_ID, SALARY, ( select MAX(SALARY) from employees ) AS MAX_SALARY  <br>
   from employees; <br>

### Problem 5
    Execute a Table Expression for the EMPLOYEES table that excludes columns with sensitive employee data (i.e. does not include columns: SSN, B_DATE, SEX, ADDRESS, SALARY).
 
Solution:
    
 > select * <br>
   from ( select EMP_ID, F_NAME, L_NAME, DEP_ID from employees) AS EMP4ALL; <br>

<h2>About the Author:</h2> 

<a href="https://www.linkedin.com/in/wanderson-torres-31049522/">Wanderson Torres</a>