<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Joins in SQL

### This Notebook is a part of my studies for IBM Certification in Data Science Professional

## What I learned:

- Inner Join, 
- Outer join
- Left Join
- Right Join, 
- Cross Join

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Joins" data-toc-modified-id="Joins-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Joins</a></span><ul class="toc-item"><li><span><a href="#Synthax" data-toc-modified-id="Synthax-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Synthax</a></span></li><li><span><a href="#Database-Used-in-this-Lab" data-toc-modified-id="Database-Used-in-this-Lab-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Database Used in this Lab</a></span></li><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Problems" data-toc-modified-id="Problems-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Problems</a></span><ul class="toc-item"><li><span><a href="#Problem-1" data-toc-modified-id="Problem-1-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Problem 1</a></span></li><li><span><a href="#Problem-2" data-toc-modified-id="Problem-2-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Problem 2</a></span></li><li><span><a href="#Problem-3" data-toc-modified-id="Problem-3-1.4.3"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>Problem 3</a></span></li><li><span><a href="#Problem-4" data-toc-modified-id="Problem-4-1.4.4"><span class="toc-item-num">1.4.4&nbsp;&nbsp;</span>Problem 4</a></span></li><li><span><a href="#Problem-5" data-toc-modified-id="Problem-5-1.4.5"><span class="toc-item-num">1.4.5&nbsp;&nbsp;</span>Problem 5</a></span></li><li><span><a href="#Problem-6" data-toc-modified-id="Problem-6-1.4.6"><span class="toc-item-num">1.4.6&nbsp;&nbsp;</span>Problem 6</a></span></li><li><span><a href="#Problem-7" data-toc-modified-id="Problem-7-1.4.7"><span class="toc-item-num">1.4.7&nbsp;&nbsp;</span>Problem 7</a></span></li></ul></li></ul></li></ul></div>

# Joins

## Synthax

In [ ]:
# How does a CROSS JOIN (also known as Cartesian Join) statement syntax look?
"""
SELECT column_name(s)
FROM table1
CROSS JOIN table2;
"""

In [ ]:
# How does an INNER JOIN statement syntax look?

"""
SELECT column_name(s)
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;
WHERE condition;
"""

In [ ]:
# How does a LEFT OUTER JOIN statement syntax look?

"""
SELECT column_name(s)
FROM table1
LEFT OUTER JOIN table2
ON table1.column_name = table2.column_name
WHERE condition;
"""

In [ ]:
How does a RIGHT OUTER JOIN statement syntax look?

SELECT column_name(s)
FROM table1
RIGHT OUTER JOIN table2
ON table1.column_name = table2.column_name
WHERE condition;

In [ ]:
How does a FULL OUTER JOIN statement syntax look?

SELECT column_name(s)
FROM table1
FULL OUTER JOIN table2
ON table1.column_name = table2.column_name
WHERE condition;

How does a SELF JOIN statement syntax look?

SELECT column_name(s)
FROM table1 T1, table1 T2
WHERE condition;

## Database Used in this Notebook


The database used in this notebook is an internal database. 
You will be working on a sample HR database. 
This HR database schema consists of 5 tables called 
EMPLOYEES, JOB_HISTORY, JOBS, DEPARTMENTS and LOCATIONS. 
Each table has a few rows of sample data. The following diagram shows the tables for the HR database:

In [6]:
<img src="images\HR_Database.png" >

SyntaxError: invalid syntax (<ipython-input-6-58579c33a1dd>, line 1)

## Objectives


* Perform different kinds of join operations

## Problems

### Problem 1

    Select the names and job start dates of all employees who work for the department number 5.
    
Solution:

select E.F_NAME,E.L_NAME, JH.START_DATE <br>
from EMPLOYEES as E <br>
INNER JOIN JOB_HISTORY as JH on E.EMP_ID=JH.EMPL_ID <br>
where E.DEP_ID ='5';

### Problem 2

    Select the names, job start dates, and job titles of all employees who work for the department number 5.
    
Solution:

select E.F_NAME,E.L_NAME, JH.START_DATE, J.JOB_TITLE <br>
from EMPLOYEES as E <br>
INNER JOIN JOB_HISTORY as JH on E.EMP_ID=JH.EMPL_ID <br>
INNER JOIN JOBS as J on E.JOB_ID=J.JOB_IDENT <br>
where E.DEP_ID ='5';

### Problem 3

    Perform a Left Outer Join on the EMPLOYEES and DEPARTMENT tables and select employee id, last name, department id and department name for all employees.
    
Solution:

select E.EMP_ID,E.L_NAME,E.DEP_ID,D.DEP_NAME <br>
from EMPLOYEES AS E <br>
LEFT OUTER JOIN DEPARTMENTS AS D ON E.DEP_ID=D.DEPT_ID_DEP;

### Problem 4

    Re-write the previous query but limit the result set to include only the rows for employees born before 1980.
    
Solution:

select E.EMP_ID,E.L_NAME,E.DEP_ID,D.DEP_NAME <br>
from EMPLOYEES AS E <br>
LEFT OUTER JOIN DEPARTMENTS AS D ON E.DEP_ID=D.DEPT_ID_DEP <br>
where YEAR(E.B_DATE) < 1980;

### Problem 5

    Re-write the previous query but have the result set include all the employees but department names for only the employees who were born before 1980.
    
Solution:

select E.EMP_ID,E.L_NAME,E.DEP_ID,D.DEP_NAME <br>
from EMPLOYEES AS E <br>
LEFT OUTER JOIN DEPARTMENTS AS D ON E.DEP_ID=D.DEPT_ID_DEP <br>
AND YEAR(E.B_DATE) < 1980;

### Problem 6

    Perform a Full Join on the EMPLOYEES and DEPARTMENT tables and select the First name, Last name and Department name of all employees.
    
Solution:

select E.F_NAME,E.L_NAME,D.DEP_NAME <br>
from EMPLOYEES AS E <br>
FULL OUTER JOIN DEPARTMENTS AS D ON E.DEP_ID=D.DEPT_ID_DEP;

### Problem 7

    Re-write the previous query but have the result set include all employee names but department id and department names only for male employees.
    
Solution:

select E.F_NAME,E.L_NAME,D.DEPT_ID_DEP, D.DEP_NAME <br>
from EMPLOYEES AS E <br>
FULL OUTER JOIN DEPARTMENTS AS D ON E.DEP_ID=D.DEPT_ID_DEP AND E.SEX = 'M';

<h2>About the Author:</h2> 

<a href="https://www.linkedin.com/in/wanderson-torres-31049522/">Wanderson Torres</a>