<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# DDL Commands in SQL

### This Notebook is a part of my studies for IBM Certification in Data Science Professional

## What I learned:

- Create Table
- Alter Table
- Truncate Table
- Drop Table

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#SQL---DDL-Comands" data-toc-modified-id="SQL---DDL-Comands-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>SQL - DDL Comands</a></span><ul class="toc-item"><li><span><a href="#CREATE-TABLE" data-toc-modified-id="CREATE-TABLE-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>CREATE TABLE</a></span></li><li><span><a href="#ALTER-TABLE" data-toc-modified-id="ALTER-TABLE-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>ALTER TABLE</a></span><ul class="toc-item"><li><span><a href="#ALTER-using-ADD-COLUMN" data-toc-modified-id="ALTER-using-ADD-COLUMN-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>ALTER using ADD COLUMN</a></span></li><li><span><a href="#ALTER-using-DROP-COLUMN" data-toc-modified-id="ALTER-using-DROP-COLUMN-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>ALTER using DROP COLUMN</a></span></li><li><span><a href="#ALTER-using-ALTER-COLUMN" data-toc-modified-id="ALTER-using-ALTER-COLUMN-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>ALTER using ALTER COLUMN</a></span></li><li><span><a href="#ALTER-using-RENAME-COLUMN" data-toc-modified-id="ALTER-using-RENAME-COLUMN-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>ALTER using RENAME COLUMN</a></span></li></ul></li><li><span><a href="#TRUNCATE-TABLE" data-toc-modified-id="TRUNCATE-TABLE-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>TRUNCATE TABLE</a></span></li><li><span><a href="#DROP-TABLE" data-toc-modified-id="DROP-TABLE-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>DROP TABLE</a></span></li></ul></li></ul></div>

# SQL - DDL Comands

  --> *Data Definition Language (or DDL) statements are used to define, change, or delete database objects such as tables.*
 
 What I learned:
 

* *Create and Drop tables in the database*

## CREATE TABLE

In [3]:
"""
# Synthax:

CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);

"""

'\n#Synthax:\n\ncreate table TABLENAME ( COLUMN1 datatype, COLUMN2 datatype, COLUMN3 datatype, ... );\n'

In [ ]:
### Examples
### Create two tables, PETSALE and PET.
'''
CREATE TABLE PETSALE (
    ID INTEGER NOT NULL,
    PET CHAR(20),
    SALEPRICE DECIMAL(6,2),
    PROFIT DECIMAL(6,2),
    SALEDATE DATE
    );
    
CREATE TABLE PET (
    ID INTEGER NOT NULL,
    ANIMAL VARCHAR(20),
    QUANTITY INTEGER
    );
'''

In [ ]:
## Insert some records into the two newly created tables 
'''
INSERT INTO PETSALE VALUES
    (1,'Cat',450.09,100.47,'2018-05-29'),
    (2,'Dog',666.66,150.76,'2018-06-01'),
    (3,'Parrot',50.00,8.9,'2018-06-04'),
    (4,'Hamster',60.60,12,'2018-06-11'),
    (5,'Goldfish',48.48,3.5,'2018-06-14');
    
INSERT INTO PET VALUES
    (1,'Cat',3),
    (2,'Dog',4),
    (3,'Hamster',2);
    
SELECT * FROM PETSALE;
SELECT * FROM PET;
'''

## ALTER TABLE

In [ ]:
"""
# Synthax:

ALTER TABLE table_name
ADD COLUMN column_name data_type column_constraint;

ALTER TABLE table_name
DROP COLUMN column_name;

ALTER TABLE table_name
ALTER COLUMN column_name SET DATA TYPE data_type;

ALTER TABLE table_name
RENAME COLUMN current_column_name TO new_column_name;

"""

### ALTER using ADD COLUMN

In [ ]:

# Add a new QUANTITY column to the PETSALE table and show the altered table.
'''
ALTER TABLE PETSALE
ADD COLUMN QUANTITY INTEGER;

SELECT * FROM PETSALE;
'''

In [ ]:
# Now update the newly added QUANTITY column of the PETSALE table with some values 
# and show all the records of the table.

'''
UPDATE PETSALE SET QUANTITY = 9 WHERE ID = 1;
UPDATE PETSALE SET QUANTITY = 3 WHERE ID = 2;
UPDATE PETSALE SET QUANTITY = 2 WHERE ID = 3;
UPDATE PETSALE SET QUANTITY = 6 WHERE ID = 4;
UPDATE PETSALE SET QUANTITY = 24 WHERE ID = 5;

SELECT * FROM PETSALE;
'''

### ALTER using DROP COLUMN

In [ ]:
# Delete the PROFIT column from the PETSALE table and show the altered table.

'''
ALTER TABLE PETSALE
DROP COLUMN PROFIT;

SELECT * FROM PETSALE;
'''

### ALTER using ALTER COLUMN

In [ ]:
# Change the data type to VARCHAR(20) type of the column PET of the table PETSALE 
# and show the altered table.

'''
ALTER TABLE PETSALE
ALTER COLUMN PET SET DATA TYPE VARCHAR(20);

SELECT * FROM PETSALE;
'''

### ALTER using RENAME COLUMN

In [ ]:
# Rename the column PET to ANIMAL of the PETSALE table and show the altered table.

'''
ALTER TABLE PETSALE
RENAME COLUMN PET TO ANIMAL;

SELECT * FROM PETSALE;
'''

## TRUNCATE TABLE

In [ ]:
"""
# Synthax:

TRUNCATE TABLE table_name;

"""

In [ ]:
# Remove all rows from the PET table and show the empty table. 

'''
TRUNCATE TABLE PET IMMEDIATE;

SELECT * FROM PET;
'''

## DROP TABLE

In [ ]:
"""
# Synthax:

DROP TABLE table_name;

"""

In [ ]:
# Delete the PET table and 
# verify if the table still exists or not (SELECT statement won't work if a table doesn't exist)
'''
DROP TABLE PET;

SELECT * FROM PET;

'''

<h2>About the Author:</h2> 

<a href="https://www.linkedin.com/in/wanderson-torres-31049522/">Wanderson Torres</a>