<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# String Patterns, Sorting and Grouping in SQL

### This Notebook is a part of my studies for IBM Certification in Data Science Professional

## What I learned:

- LIKE, BETWEEN, % 
- ORDER BY
- GROUP BY
- HAVING

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#String-Patterns,-Sorting-and-Grouping" data-toc-modified-id="String-Patterns,-Sorting-and-Grouping-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>String Patterns, Sorting and Grouping</a></span><ul class="toc-item"><li><span><a href="#STRING-PATTERNS" data-toc-modified-id="STRING-PATTERNS-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>STRING PATTERNS</a></span><ul class="toc-item"><li><span><a href="#Exercise-1:" data-toc-modified-id="Exercise-1:-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Exercise 1:</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li><li><span><a href="#Exercise-3:" data-toc-modified-id="Exercise-3:-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Exercise 3:</a></span></li></ul></li><li><span><a href="#Sorting" data-toc-modified-id="Sorting-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Sorting</a></span><ul class="toc-item"><li><span><a href="#Exercise-4:" data-toc-modified-id="Exercise-4:-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Exercise 4:</a></span></li><li><span><a href="#Exercise-5:" data-toc-modified-id="Exercise-5:-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Exercise 5:</a></span></li><li><span><a href="#Exercise-6:" data-toc-modified-id="Exercise-6:-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Exercise 6:</a></span></li></ul></li><li><span><a href="#Grouping" data-toc-modified-id="Grouping-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Grouping</a></span><ul class="toc-item"><li><span><a href="#Exercise-7:" data-toc-modified-id="Exercise-7:-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Exercise 7:</a></span></li><li><span><a href="#Exercise-8:" data-toc-modified-id="Exercise-8:-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Exercise 8:</a></span></li><li><span><a href="#Exercise-9:" data-toc-modified-id="Exercise-9:-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Exercise 9:</a></span></li><li><span><a href="#Exercise-10:" data-toc-modified-id="Exercise-10:-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Exercise 10:</a></span></li><li><span><a href="#Exercise-11:" data-toc-modified-id="Exercise-11:-1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>Exercise 11:</a></span></li></ul></li></ul></li></ul></div>

# String Patterns, Sorting and Grouping


The database used in this lab is an internal database IBM DB2. 
I worked on a sample HR database. 
This HR database schema consists of 5 tables called EMPLOYEES, JOB_HISTORY, JOBS, DEPARTMENTS and LOCATIONS. 
Each table has a few rows of sample data. The following diagram shows the tables for the HR database:

<img src="images/HR_Database.png" alt="HR_Database" style="height: 700px; width:700px;"/>

## STRING PATTERNS

### Exercise 1:

Problem:

    Retrieve all employees who were born during the 1970's.
    
Solution:

SELECT F_NAME , L_NAME

FROM EMPLOYEES

WHERE B_DATE LIKE '197%';

### Exercise 2
Problem:

    Retrieve all employees whose address is in Elgin,IL.
  
Solution:

SELECT F_NAME , L_NAME

FROM EMPLOYEES

WHERE ADDRESS LIKE '%Elgin,IL%';

### Exercise 3:

Problem:

    Retrieve all employees in department 5 whose salary is between 60000 and 70000.
    
Solution:
    
SELECT *

FROM EMPLOYEES

WHERE (SALARY BETWEEN 60000 AND 70000) AND DEP_ID = 5;

## Sorting

### Exercise 4:

Problem:

    Retrieve a list of employees ordered by department ID.
    
Solution:
    
SELECT F_NAME, L_NAME, DEP_ID 

FROM EMPLOYEES

ORDER BY DEP_ID;

### Exercise 5:

Problem:

    Retrieve a list of employees ordered in descending order by department ID and within each department ordered alphabetically in descending order by last name.
    
Solution:
    
SELECT F_NAME, L_NAME, DEP_ID 

FROM EMPLOYEES

ORDER BY DEP_ID DESC, L_NAME DESC;

### Exercise 6:

Problem:

    Retrieve a list of employees ordered by department name, and within each department ordered alphabetically in descending order by last name.

Solution:

SELECT D.DEP_NAME , E.F_NAME, E.L_NAME

FROM EMPLOYEES as E, DEPARTMENTS as D

WHERE E.DEP_ID = D.DEPT_ID_DEP

ORDER BY D.DEP_NAME, E.L_NAME DESC;   
   
<br>   
           *> In the SQL Query above, D and E are aliases for the table names. 
           Once you define an alias like D in your query, 
           you can simply write D.COLUMN_NAME rather than the full form DEPARTMENTS.COLUMN_NAME.*

## Grouping

### Exercise 7:

Problem:

    For each department ID retrieve the number of employees in the department.
    
Solution:
    
SELECT DEP_ID, COUNT(*)

FROM EMPLOYEES

GROUP BY DEP_ID;

### Exercise 8:

Problem:

    For each department retrieve the number of employees in the department, and the average employee salary in the department.
    
Solution:
    
SELECT DEP_ID, COUNT(*), AVG(SALARY)

FROM EMPLOYEES

GROUP BY DEP_ID;

### Exercise 9:

Problem:

    Label the computed columns in the result set of SQL problem 2 (Exercise 3 Problem 2) as NUM_EMPLOYEES and AVG_SALARY.
    
Solution:
    
SELECT DEP_ID, COUNT(*) AS "NUM_EMPLOYEES", AVG(SALARY) AS "AVG_SALARY"

FROM EMPLOYEES

GROUP BY DEP_ID;

### Exercise 10:

Problem:

    In Exercise 9, order the result set by Average Salary..
    
Solution:
    
SELECT DEP_ID, COUNT(*) AS "NUM_EMPLOYEES", AVG(SALARY) AS "AVG_SALARY"

FROM EMPLOYEES

GROUP BY DEP_ID

ORDER BY AVG_SALARY;

### Exercise 11:

Problem:

    In Exercise 11, limit the result to departments with fewer than 4 employees.
    
Solution:
    
SELECT DEP_ID, COUNT(*) AS "NUM_EMPLOYEES", AVG(SALARY) AS "AVG_SALARY"

FROM EMPLOYEES

GROUP BY DEP_ID

HAVING count(*) < 4

ORDER BY AVG_SALARY;

In [3]:
"""
We can use the WHERE clause to refine your query results.
We can use the wildcard character (%) as a substitute for unknown characters in a pattern.
We can use BETWEEN ... AND ... to specify a range of numbers.
We can sort query results into ascending or descending order, using the ORDER BY clause to specify the column to sort on.
We can group query results by using the GROUP BY clause. 
"""

'\nWe can use the WHERE clause to refine your query results.\nWe can use the wildcard character (%) as a substitute for unknown characters in a pattern.\nWe can use BETWEEN ... AND ... to specify a range of numbers.\nWe can sort query results into ascending or descending order, using the ORDER BY clause to specify the column to sort on.\nWe can group query results by using the GROUP BY clause. \n'

<h2>About the Author:</h2> 

<a href="https://www.linkedin.com/in/wanderson-torres-31049522/">Wanderson Torres</a>