<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Working with multiple tables

### This Notebook is a part of my studies for IBM Certification in Data Science Professional

## What I learned:

-  Write SQL queries that access more than one table
- Compose queries that access multiple tables using a nested statement in the WHERE clause
- Build queries with multiple tables in the FROM clause
- Write Implicit Join queries with join criteria specified in the WHERE clause
- Specify aliases for table names and qualify column names with table aliases

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Working-with-Multiple-Tables" data-toc-modified-id="Working-with-Multiple-Tables-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Working with Multiple Tables</a></span><ul class="toc-item"><li><span><a href="#Acessing-multiple-tables-with-Sub-queries" data-toc-modified-id="Acessing-multiple-tables-with-Sub-queries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Acessing multiple tables with Sub-queries</a></span></li><li><span><a href="#Acessing-Multiple-tables-with-Implicit-Join" data-toc-modified-id="Acessing-Multiple-tables-with-Implicit-Join-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Acessing Multiple tables with Implicit Join</a></span></li><li><span><a href="#Problems" data-toc-modified-id="Problems-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Problems</a></span><ul class="toc-item"><li><span><a href="#Problem-1" data-toc-modified-id="Problem-1-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Problem 1</a></span></li><li><span><a href="#Problem-2" data-toc-modified-id="Problem-2-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Problem 2</a></span></li><li><span><a href="#Problem-3" data-toc-modified-id="Problem-3-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Problem 3</a></span></li><li><span><a href="#Problem-4" data-toc-modified-id="Problem-4-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Problem 4</a></span></li><li><span><a href="#Problem-5" data-toc-modified-id="Problem-5-1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>Problem 5</a></span></li><li><span><a href="#Problem-6" data-toc-modified-id="Problem-6-1.3.6"><span class="toc-item-num">1.3.6&nbsp;&nbsp;</span>Problem 6</a></span></li><li><span><a href="#Problem-7" data-toc-modified-id="Problem-7-1.3.7"><span class="toc-item-num">1.3.7&nbsp;&nbsp;</span>Problem 7</a></span></li><li><span><a href="#Problem-8" data-toc-modified-id="Problem-8-1.3.8"><span class="toc-item-num">1.3.8&nbsp;&nbsp;</span>Problem 8</a></span></li><li><span><a href="#Problem-9" data-toc-modified-id="Problem-9-1.3.9"><span class="toc-item-num">1.3.9&nbsp;&nbsp;</span>Problem 9</a></span></li><li><span><a href="#Problem-9" data-toc-modified-id="Problem-9-1.3.10"><span class="toc-item-num">1.3.10&nbsp;&nbsp;</span>Problem 9</a></span></li></ul></li></ul></li></ul></div>

# Working with Multiple Tables

## Acessing multiple tables with Sub-queries

In [1]:
# Example 1: To retrieve only the employee records that correspond to departments in the DEPARTMENTS table:

'''
select * from employees
where DEP_ID IN
(select DEPT_ID_EMP from departments);
'''

'\nselect * from employees\nwhere DEP_ID IN\n(select DEPT_ID_EMP from departments);\n'

In [ ]:
# Example 2: Let's say we want to retrieve only the list of employees from a specific location. 
# We do not have any location information in the employees table, 
# but the departments table has a column called location ID. 
# Therefore, we can use a sub-query from the Departments table as input to the employee table query as follows.

'''
select * from employees
where DEP_ID IN
   (select DEPT_ID_EMP from departments
    where LOC_ID = 'L0002');
'''

In [ ]:
# Example 3 - To retrieve the department ID and name for employees who earn more than $70,000:

'''
select DEPT_ID_DEP, DEP_NAME from departments 
where DEPT_ID_DEP IN
   (select DEP_ID from employees
    where SALARY > 70000);
'''

## Acessing Multiple tables with Implicit Join

In [4]:
# Using additional operands to limit the result set:
'''
select * from employees, departments
    where employees.DEP_ID = 
        departments.DEPT_ID_DEP;'''

# We could use also short aliases for table names:

'''
select * from employees E, departments D
    where E.DEP_ID = 
        D.DEPT_ID_DEP;
'''

'\nselect * from employees E, departments D\n    where E.DEP_ID = \n        D.DEPT_ID_DEP;\n'

## Problems

In [6]:
# How does an Implicit version of CROSS JOIN (also known as Cartesian Join) statement syntax look?

'''
SELECT column_name(s)
FROM table1, table2;
'''

'\nSELECT column_name(s)\nFROM table1, table2;\n'

In [7]:
# How does an Implicit version of INNER JOIN statement syntax look?

'''
SELECT column_name(s)
FROM table1, table2
WHERE table1.column_name = table2.column_name;
'''

'\nSELECT column_name(s)\nFROM table1, table2\nWHERE table1.column_name = table2.column_name;\n'

In this lab, I used an IBM Db2 Database. Db2 is a Relational Database Management System (RDBMS) from IBM, designed to store, analyze and retrieve data efficiently.

<br>
I will be working on a sample HR database. This HR database schema consists of 5 tables called EMPLOYEES, JOB_HISTORY, JOBS, DEPARTMENTS and LOCATIONS. Each table has a few rows of sample data.
<br>

The following diagram shows the tables for the HR database:  
<br>
<br>

<img src="images/HR_Database.png" alt="HR_Database" style="height: 700px; width:700px;"/>

### Problem 1
    Retrieve only the EMPLOYEES records that correspond to jobs in the JOBS table.
 
Solution:
    
 > select * <br> 
 from employees <br>
 where JOB_ID IN (select JOB_IDENT from jobs);

### Problem 2
    Retrieve only the list of employees whose JOB_TITLE is Jr. Designer.
 
Solution:
    
 > select * <br> 
 from employees <br>
 where JOB_ID IN (select JOB_IDENT from jobs where JOB_TITLE= 'Jr. Designer');

### Problem 3
    Retrieve JOB information and list of employees who earn more than $90,000.
 
Solution:
    
 > select JOB_IDENT, JOB_TITLE, MIN_SALARY, MAX_SALARY <br> 
 from jobs <br>
 where JOB_IDENT IN (select JOB_ID from jobs where SALARY > 90000);

### Problem 4
    Retrieve JOB information and list of employees whose birth year is after 1976.
 
Solution:
    
 > select JOB_IDENT, JOB_TITLE, MIN_SALARY, MAX_SALARY <br> 
 from jobs <br>
 where JOB_IDENT IN (select JOB_ID from employees where YEAR(B_DATE) > 1976);

### Problem 5
    Retrieve JOB information and list of female employees whose birth year is after 1976.
 
Solution:
    
 > select JOB_IDENT, JOB_TITLE, MIN_SALARY, MAX_SALARY <br> 
 from jobs <br>
 where JOB_IDENT IN (select JOB_ID from employees where YEAR(B_DATE) > 1976 and SEX='F');

### Problem 6
    Perform an implicit cartesian/cross join between EMPLOYEES and JOBS tables.
 
Solution:
    
 > select * <br> 
 from employees, jobs; <br>

### Problem 7
    Retrieve only the EMPLOYEES records that correspond to jobs in the JOBS table.
Solution:
    
 > select * <br> 
 from employees, jobs <br>
 where employees.JOB_ID = jobs.JOB_IDENT; <br>

### Problem 8
    Redo the previous query, using shorter aliases for table names.
 
Solution:
    
 > select * <br> 
 from employees E, jobs J <br>
 where E.JOB_ID = J.JOB_IDENT; <br>

### Problem 9
    Redo the previous query, but retrieve only the Employee ID, Employee Name and Job Title.
 
Solution:
    
 > select EMP_ID,F_NAME,L_NAME, JOB_TITLE <br> 
 from employees E, jobs J <br>
 where E.JOB_ID = J.JOB_IDENT; <br>

<h2>About the Author:</h2> 

<a href="https://www.linkedin.com/in/wanderson-torres-31049522/">Wanderson Torres</a>